{% set entry = entry ?? null %}

{% if entry %}

  {% set cardImage = entry.cardImage.one() ?? null %}
  {% set liveUrl = entry.liveUrl ?? null %}
  {% set summary = entry.summary ?? null %}
  {% set video = entry.video.one() ?? null %}
  {% set backdropColour = entry.backdropColour.value|default("bg-zinc-100") %}
  {% set role = entry.role ?? null %}
  {% set tags = entry.techTags.all() ?? [] %}

  {% set prevEntry = craft.entries.section('work').prevSiblingOf(entry).one() ?? null %}
  {% set nextEntry = craft.entries.section('work').nextSiblingOf(entry).one() ?? null %}

  <article
    x-show="selected === {{ entry.id }}"
    class="grid grid-cols-12 pt-32 w-full max-w-[736px] ml-auto lg:pt-16 lg:max-w-none lg:ml-0 lg:gap-x-10"
  >
    <div class="pointer-events-auto bg-zinc-50 col-span-full pb-16 md:pb-[72px] lg:col-span-7 lg:col-start-5 2xl:pb-24">

      <div class="space-y-8 sm:space-y-12">

        {# Work nav #}
        <div class="relative z-10 sm-mono leading-none flex items-center gap-x-4">
          {# Back to work / close slideover #}
          <button
            @click="close()"
            class="flex items-baseline gap-x-2 hover:bg-coral-red/20 flex-shrink-0"
          >
            {{ svg('@webroot/dist/images/icon--arrow-left.svg', true, true)|attr({ class: 'w-auto h-[9px] flex-shrink-0' }) }}
            <span>{{ "All work"|t }}</span>
          </button>

          {# Nav #}

          <div class=" w-12 h-px bg-black/10 mt-0.5 sm:block"></div>

          <section class="flex items-center gap-x-4">
            <button
              class="pointer-events-auto hover:bg-coral-red/20"
              :class="{ 'pointer-events-none opacity-30 !cursor-default': !hasPrev() }"
              :tabindex="hasPrev() ? 0 : -1"
              aria-label="Previous project"
              @click="prev()"
            >
              {{ "Previous"|t }}
            </button>

            <span class="w-px h-5 bg-black/10 mt-px -skew-x-12"></span>

            <button
              class="pointer-events-auto hover:bg-coral-red/20"
              :class="{ 'pointer-events-none opacity-30 !cursor-default': !hasNext() }"
              :tabindex="hasNext() ? 0 : -1"
              aria-label="Next project"
              @click="next()"
            >
              {{ "Next"|t }}
            </button>
          </section>
        </div>


        <div class="relative z-10 flex flex-wrap items-baseline gap-4">
          {# Title #}
          <h2
            x-dialog:title
            class="font-medium heading3 md:heading1 leading-none"
            aria-label="{{ '{0} project details'|t([entry.title]) }}"
          >
            {{ entry.title }}
          </h2>

          {% if entry.liveUrl %}
            <span class="-translate-y-[2px]">
              {% include "_includes/liveLink" with { url: entry.liveUrl } only %}
            </span>
          {% endif %}
        </div>

        {# Media #}
        {% include "_includes/work/workArticleMedia" with {
          backdropColour: backdropColour,
          cardImage: cardImage,
          entryId: entry.id,
          entryTitle: entry.title,
          video: video,
        } only %}

        {# Summary #}
        {% if summary %}
          <p class="relative z-10 w-full max-w-[752px]">
            {{ summary }}
          </p>
        {% endif %}

        {# Tags #}
        {% if tags %}
          <div>
            {% include "_includes/tags" with { tags: tags } only %}
          </div>
        {% endif %}

        {# Meta #}
        {% include "_includes/work/workCardMeta" with {
          class: "relative z-10 sm-mono leading-tight",
          type: entry.workType,
          year: entry.year,
          agency: entry.agency,
        } %}
      </div>

    </div> {# /.col-span-9 #}

  </article>


{% endif %}
