{% set type = type.one() ?? null %}
{% set isAgency = false %}
{% set agencyTitle = null %}
{% set agencyUrl = null %}
{% set class = class ?? "" %}

{# Safe to use slug because it is not translatable #}
{% if type and type.slug == "agency" %}
  {% set isAgency = true %}
  {% set agency = agency.one() ?? null %}

  {% if agency %}
    {% set agencyTitle = agency.title %}
  {% endif %}
{% endif %}

{% set year = year ?? null %}


{% if type and year and ((isAgency and agencyTitle) or not isAgency) %}

  <div class="flex flex-col gap-y-2 {{ class }}">
    <div>
      <span>{{ "Type"|t }}: {{ type }}</span>
      {% if isAgency %}
        <span>
          ({{ agencyTitle }})
        </span>
      {% endif %}
    </div>
    <div>{{ year }}</div>
  </div>

{% endif %}

