<template x-if="$store.global.slideoverTemplate === 'work'">
  <article class="grid grid-cols-12 pt-32 w-full max-w-[736px] ml-auto lg:pt-16 lg:max-w-none lg:ml-0 lg:gap-x-10">
    <div class="pointer-events-auto bg-zinc-50 col-span-full pb-16 md:pb-[72px] lg:col-span-7 lg:col-start-5 2xl:pb-24">
      <div class="space-y-8 sm:space-y-12">

        {# Nav #}
        <div class="relative z-10 sm-mono leading-none flex items-center gap-x-4">
          {# Back to work / close slideover #}
          <button
            @click="close()"
            class="flex items-baseline gap-x-2 hover:bg-coral-red/20 flex-shrink-0"
          >
            {{ svg('@webroot/dist/images/icon--arrow-left.svg', true, true)|attr({ class: 'w-auto h-[9px] flex-shrink-0' }) }}
            <span>{{ "All work"|t }}</span>
          </button>

          {# Adjacent entries #}
          <div class=" w-12 h-px bg-black/10 mt-0.5 sm:block"></div>
          <section class="flex items-center gap-x-4">
            <button
              class="pointer-events-auto hover:bg-coral-red/20"
              :class="{ 'pointer-events-none opacity-30 !cursor-default': !$store.work.hasPrev() }"
              :tabindex="$store.work.hasPrev() ? 0 : -1"
              aria-label="Previous project"
              @mouseenter="$store.work.fetchPrev()"
              @click="$store.work.prev()"
            >
              {{ "Previous"|t }}
            </button>

            <span class="w-px h-5 bg-black/10 mt-px -skew-x-12"></span>

            <button
              class="pointer-events-auto hover:bg-coral-red/20"
              :class="{ 'pointer-events-none opacity-30 !cursor-default': !$store.work.hasNext() }"
              :tabindex="$store.work.hasNext() ? 0 : -1"
              aria-label="Next project"
              @mouseenter="$store.work.fetchNext()"
              @click="$store.work.next()"
            >
              {{ "Next"|t }}
            </button>
          </section>
        </div>

        <div class="relative z-10 flex flex-wrap items-baseline gap-4">
          {# Title #}
          <h2
            x-dialog:title
            x-text="$store.work.selected?.title"
            class="font-medium heading3 md:heading1 leading-none"
            {# aria-label="{{ '{0} project details'|t([entry.title]) }}" #}
          ></h2>

          <template x-if="$store.work.selected?.liveUrl">
            <a
              class="bg-gray-200 rounded-full p-1 pr-3 flex gap-x-[9px] items-center transition-colors duration-200 hover:bg-transparent"
              :href="$store.work.selected?.liveUrl"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="{{ "View live site, opens in new tab"|t }}"
            >
              {{ svg('@webroot/dist/images/icon--arrow-diagonal-circ.svg', true, true)|attr({ class: "w-[23px]" }) }}
              <span class="xs-sans md:sm-sans !font-medium">{{ "View Live"|t }}</span>
            </a>
          </template>
        </div>

        <template x-if="$store.work.selected?.summary">
          <p
            x-text="$store.work.selected?.summary"
            class="relative z-10 w-full max-w-[752px]"
          ></p>
        </template>


      </div>
    </div>
  </article>
</template>

