{% set work = craft.entries.section('work').with(['cardImage']).all() %}
{% set workEntries = work ?? [] %}

{% if workEntries|length %}

    <h2 class="sr-only">Recent work</h2>

    {# Work card grid #}
    <div class="col-span-full grid grid-cols-subgrid gap-y-24">
      {% for entry in workEntries %}

        {% set image = entry.cardImage.one() ?? null %}
        {% set cls = "" %}

        {% set base6Index0 = loop.index0 % 6 %}

        {# Vertical spacing #}
        {% if base6Index0 == 1 or base6Index0 == 4 or base6Index0 == 5 %}
          {% set cls = "ml-auto lg:ml-0" %}
        {% endif %}

        {# Horizontal spacing #}
        {% set blank %}
          <div class="hidden xl:block xl:col-span-4"></div>
        {% endset %}

        {% if base6Index0 == 2 %}
          {{ blank }}{{ blank }}
        {% elseif base6Index0 == 5 %}
          {{ blank }}
        {% endif %}


        <div class="relative group col-span-full space-y-4 w-full max-w-[480px] lg:max-w-none lg:col-span-6 xl:col-span-4 {{ cls }}">

          {% if image %}
            <div class="relative aspect-[480/288] lg:border-x border-[#f0edea] {# shadow-sm group-hover:shadow-none #} transition-all duration-200">
              {% include "_includes/picture" with {
                disableAlt: true,
                image: image,
                mode: "crop",
                classes: "object-cover w-full h-full rounded-sm sm:rounded-none",
                ratio: [480, 288],
                pictureSets: [
                  { "467": [560, null] },
                  { "default": [414, null] },
                ],
              } only %}

              <div class="absolute inset-0 bg-zinc-100/90 backdrop-saturate-0 backdrop-brightness-125 opacity-0 transition-opacity duration-200 group-hover:opacity-100"></div>
            </div>
          {% endif %}

          <div class="flex flex-col gap-y-2">
            <h2 class="base-sans">{{ entry.title }}</h2>
            {% include "_includes/work/workCardMeta" with {
              class: "sm-mono leading-tight",
              type: entry.workType,
              year: entry.year,
              agency: entry.agency,
            } %}
          </div>

          <button
            @click="$store.work.setWork('{{ entry.slug }}')"
            @mouseenter="$store.work.fetchWork('{{ entry.slug }}')"
            data-follower="more"
            class="box-link before:focus-visible:outline before:focus-visible:outline-2 before:focus-visible:outline-offset-2 before:focus-visible:outline-blue-700"
            aria-label="{{ '{0} project details, opens modal'|t([entry.title]) }}"
          >
          </button>
        </div>

      {% endfor %}
    </div>

{% endif %}

