<div class="fixed top-0 inset-x-0 pointer-events-none {# invert mix-blend-difference #}">
  <div class="container h-40 flex items-center">
    {# <a
      href="{{ siteUrl }}"
      aria-label="{{ siteName }} {{ "home"|t }}"
      class="size-[44px] bg-black rounded-full flex items-center justify-center md:size-14 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-1 focus-visible:outline-blue-700"
    >
      {{ svg('@webroot/dist/images/h--logomark.svg', true, true)|attr({ class: 'text-white w-[14px] md:w-[18px]' }) }}
    </a> #}

    <div class="size-[44px] bg-coral-red rounded-full flex items-center justify-center md:size-14 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-1 focus-visible:outline-blue-700">
      {{ svg('@webroot/dist/images/h--logomark-alt.svg', true, true)|attr({ class: 'w-12 h-auto' }) }}
    </div>
  </div>
</div>

<div class="fixed top-0 right-0 animate-spin-very-slow">
  {{ svg('@webroot/dist/images/illy--sun.svg', true, true)|attr({ class: 'w-[300px]' }) }}
</div>

<div class="fixed top-[164px] left-0 z-10">
  <div class="container flex flex-row gap-x-9" style="writing-mode: vertical-lr">
    <div
      data-follower="hex"
      @click.prevent="$dispatch('slideover-open', { name: 'who' })"
      style="text-orientation: upright"
      class="base-mono uppercase flex flex-col mx-4 pt-1 pb-2 leading-none bg-coral-red/20 rounded-sm"
    >
      ?about¿
    </div>
    <div
      data-follower="hex"
      @click.prevent="$dispatch('slideover-open', { name: 'who' })"
      style="text-orientation: upright"
      class="base-mono uppercase flex flex-col mx-4 pt-1 pb-2 leading-none bg-coral-red/20 rounded-sm"
    >
      !contact¡
    </div>
  </div>
</div>
