<footer id="contact" class="min-h-screenh col-span-full relative">
  <div class="absolute inset-0 flex items-center justify-center">
    <a
      class="font-bold heading5 decoration-from-font decoration-coral-red hover:underline sm:heading3 2xl:heading1"
      href="mailto:huw@huwroberts.dev"
    >
      huw@huwroberts.dev
    </a>
  </div>
  <div class="absolute bottom-12 inset-x-0 flex flex-col-reverse items-center gap-y-4 sm:contents">
    <div class="sm:absolute inset-x-0 bottom-12 flex justify-center">
      {% set classes = "decoration-coral-red underline hover:bg-coral-red/20" %}

      {% if footer.footerWords %}
        <div class="xs-mono footer-words ckeditor -simple leading-none">{{ footer.footerWords }}</div>
      {% endif %}

    </div>
    <div class="sm:absolute right-0 bottom-10 flex items-center">
      {% if seo.twitterHandle %}
        <a
          href="https://x.com/{{ seo.twitterHandle }}"
          rel="noopener noreferrer nofollow"
          class="hover:text-seabed-indigo transition duration-100"
          aria-label="Huw Roberts on Twitter/X"
        >
          {{ svg('@webroot/dist/images/social--x.svg', true, true)|attr({ class: "h-[34px]" }) }}
        </a>
      {% endif %}

      {% set seeAlso = seo.seeAlso %}
      {% set github = seeAlso|filter(row => row.name == 'github') %}

      {% if github %}
        <a
          href="{{ github[0]['url'] }}"
          rel="noopener noreferrer nofollow"
          class="hover:text-seabed-indigo transition duration-100"
          aria-label="Huw Roberts on GitHub"
        >
          {{ svg('@webroot/dist/images/social--github.svg', true, true)|attr({ class: "h-[38px]" }) }}
        </a>
      {% endif %}
    </div>
  </div>
</footer>
