{% set showNav = showNav ?? true %}
{% set navStyle = navStyle ?? "icon" %}

{# For grid layout #}
{% set panelContent = panelContent ?? null %}

{# For fixed layout relative to slidover fill #}
{% set fixedContent = fixedContent ?? null %}

{# Slideover #}
<div
  x-dialog
  x-model="showSlideover"
  x-init="() => {
    $watch('showSlideover', (state) => {
      if (!state) {
        $dispatch('slideover-close')
        $store.global.slideoverOpen = false
      }
      else {
        $store.global.slideoverOpen = true
      }
    })
  }"
  style="display: none"
  class="fixed inset-0"
>
  {# Backdrop overlay #}
  <div
    x-dialog:overlay
    x-transition.opacity.duration.500ms
    class="hidden md:block fixed inset-0 bg-[#eee] bg-opacity-90 backdrop-blur-[3px]"
  ></div>

  {# Panel background (white fill) #}
  <div
    class="fixed inset-y-0 inset-x-0 bg-white md:left-auto md:right-0 md:w-[var(--panel-w)] 3xl:w-[var(--3xl-panel-w)]"
    x-show="showSlideover"
    x-transition:enter="transition duration-500 ease-out"
    x-transition:enter-start="translate-x-16 md:translate-x-8 opacity-0"
    x-transition:enter-end="md:translate-x-0 opacity-100"
    x-transition:leave="transition duration-200 ease-in"
    x-transition:leave-start="translate-x-0 opacity-100"
    x-transition:leave-end="translate-x-16 md:translate-x-8 opacity-0"
  ></div>

  {# Panel #}
  <div
    x-dialog:panel
    aria-live="polite"
    class="fixed inset-y-0 right-0 w-[var(--panel-w)] 3xl:w-[var(--3xl-panel-w)]"
  >
    {% if panelContent %}
      <div
        data-name="slidover-panel-content"
        x-ref="panel-content"
        x-show="showSlideover"
        x-transition:enter="transition duration-500 ease-out"
        x-transition:enter-start="translate-x-4 md:translate-x-2 opacity-0"
        x-transition:enter-end="md:translate-x-0 opacity-100"
        x-transition:leave="transition duration-300 ease-in"
        x-transition:leave-start="translate-x-0 opacity-100"
        x-transition:leave-end="translate-x-4 md:translate-x-2 opacity-0"
        class="absolute inset-0 overflow-auto -ml-[var(--panel-away-w)] 3xl:-ml-[calc(100vw-var(--3xl-panel-w))]"
      >
        {% include "_includes/followers/followerDotSlideover" only %}
        <div class="container">{{ panelContent }}</div>
      </div>
    {% endif %}

    {% if fixedContent %}
      <div
        data-name="slidover-fixed-content"
        x-show="showSlideover"
        x-transition.opacity.duration.500ms
        aria-live="polite"
        class="absolute inset-0 bg-white pointer-events-none -ml-[var(--panel-away-w)] md:ml-0"
      >
        {{ fixedContent }}
      </div>
    {% endif %}

    {# Nav and close buttons #}
    <div
      x-show="false"
      x-transition.opacity.duration.500ms
      class="absolute inset-0 z-10 pointer-events-none -ml-[var(--panel-away-w)] 3xl:-ml-[calc(100vw-var(--3xl-panel-w))]"
    >
      <div class="container">
        <div class="sticky top-0 inset-x-0 bg-white/90 backdrop-blur-sm md:backdrop-blur-0 md:bg-transparent py-8 md:py-[52px] 2xl:py-[60px]">
          <div class="grid grid-cols-12 lg:gap-x-16">
            <div class="col-span-full lg:col-span-7 lg:col-start-5">
              <div class="base-mono flex items-center h-[44px] flex-row-reverse justify-items-end gap-x-2 lg:flex-row lg:justify-between">

                {# Close #}
                {% if navStyle == "icon" and showCloseButton %}

                  <button
                    type="button"
                    @click="$dialog.close();"
                    @keydown.escape.window="$dialog.close()"
                    class="relative z-10 pointer-events-auto transition ease-in-out duration-200 hover:text-coral-red hover:rotate-90"
                    aria-label="Close modal"
                  >
                    <span>{{ svg('@webroot/dist/images/icon--close.svg', true, true)|attr({ class: 'w-[38px] md:w-[44px]' }) }}</span>
                  </button>

                {% endif %}

                {# Nav #}
                <div class="flex items-center justify-end gap-x-2">

                  {# Prev #}
                  {% if navStyle == "icon" and showNav %}

                    <button
                      class="relative z-10 pointer-events-auto transition ease-in-out duration-200 hover:text-coral-red"
                      :class="{ 'pointer-events-none !text-gray-300': !hasPrev() }"
                      :tabindex="hasPrev() ? 0 : -1"
                      aria-label="Previous project"
                      @click="prev()"
                      @keydown.left.window="wrapKeyDown($event, () => showSlideover && prev())"
                    >
                      <span>{{ svg('@webroot/dist/images/icon--arrow-right-circ.svg', true, true)|attr({ class: 'w-[38px] md:w-[44px] rotate-180' }) }}</span>
                    </button>

                  {% endif %}

                  {# Next #}
                  {% if navStyle == "icon" and showNav %}

                    <button
                      class="relative z-10 pointer-events-auto transition ease-in-out duration-200 hover:text-coral-red"
                      :class="{ 'pointer-events-none !text-gray-100': !hasNext() }"
                      :tabindex="hasNext() ? 0 : -1"
                      aria-label="Next project"
                      @click="next()"
                      @keydown.right.window="wrapKeyDown($event, () => showSlideover && next())"
                    >
                      <span>{{ svg('@webroot/dist/images/icon--arrow-right-circ.svg', true, true)|attr({ class: 'w-[38px] md:w-[44px]' }) }}</span>
                    </button>

                  {% endif %}

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div> {# /Panel #}

  {# Click away region #}
  <div
    @click="$dialog.close()"
    class="fixed left-0 inset-y-0 w-[var(--panel-away-w)] 3xl:w-[var(--3xl-panel-away-w)]"
  ></div>

</div> {# /Slideover #}
