{% set entry = entry ?? null %}

{% if entry %}

  {% set cardImage = entry.cardImage.one() ?? null %}
  {% set liveUrl = entry.liveUrl ?? null %}
  {% set summary = entry.summary ?? null %}
  {% set video = entry.video.one() ?? null %}
  {% set backdropColour = entry.backdropColour.value|default("bg-slate-50") %}
  {% set role = entry.role ?? null %}
  {% set tags = entry.techTags.all() ?? [] %}

  {% set prevEntry = craft.entries.section('work').prevSiblingOf(entry).one() ?? null %}
  {% set nextEntry = craft.entries.section('work').nextSiblingOf(entry).one() ?? null %}

  <article
    x-show="selected === {{ entry.id }}"
    {% if prevEntry %} @keydown.left.prevent="setSlideover({{ prevEntry.id }})" {% endif %}
    {% if nextEntry %} @keydown.right.prevent="setSlideover({{ nextEntry.id }})" {% endif %}
    class="grid grid-cols-12 space-y-16 pt-[186px] pb-16 w-full max-w-[736px] ml-auto md:pb-[72px] lg:max-w-none lg:ml-0 lg:gap-x-16 2xl:pb-24"
  >
    <div class="pointer-events-auto space-y-16 col-span-full lg:col-span-9 lg:col-start-3">

      {# Head #}
      <div class="w-full max-w-[752px] -mb-5">
        <div class="flex flex-wrap items-baseline gap-4">
          {# Title #}
          <h2
            x-dialog:title
            class="font-medium heading3 md:heading1 leading-none"
            aria-label="{{ '{0} project details'|t([entry.title]) }}"
          >
            {{ entry.title }}
          </h2>

          {% if entry.liveUrl %}
            <span class="-translate-y-[2px]">
              {% include "_includes/liveLink" with { url: entry.liveUrl } only %}
            </span>
          {% endif %}
        </div>

      </div>

      {# Summary #}
      {% if summary %}
        <p class="w-full max-w-[752px]">
          {{ summary }}
        </p>
      {% endif %}

      {# Video #}

      <div
        x-data="{
          showVideo: false,
          videoLazyLoaded: false,

          handleOpenSlideover(event) {
            if (event.detail.id != {{ entry.id }}) return;
            if (this.$refs.video && !this.videoLazyLoaded) {
              this.$refs.video.querySelector('source').src = this.$refs.video.querySelector('source').dataset.src;
              this.$refs.video.load();
              this.videoLazyLoaded = true;
            }
          },

          // TODO: Stop video when closing slideover
          // or navigating to another work entry
        }"
        @open-slideover.window="handleOpenSlideover($event)"
        class="w-full max-w-[1160px]"
      >
        <div class="aspect-[1160/680] {{ backdropColour }} flex items-center justify-center">
          <div class="relative aspect-[960/576] w-full sm:max-w-[clamp(414px,960px,83%)]">
            {% if video %}
              <div
                @click="() => {
                  $refs.video.paused ? $refs.video.play() : $refs.video.pause();
                }"
                class="absolute inset-0"
              >
                <video
                  x-ref="video"
                  muted
                  playsinline
                  class="object-cover w-full h-full rounded-sm"
                >
                  <source data-src="{{ video.url }}" type="{{ video.getMimeType() }}">
                  Your browser does not support the video tag.
                </video>
              </div>
            {% endif %}

            {% if cardImage %}
              <div
                @click="showVideo = true; $refs.video.play()"
                x-show="!showVideo"
                x-transition.opacity.duration.1000ms
                class="absolute inset-0 cursor-pointer"
              >
                {% include "_includes/picture" with {
                  image: cardImage,
                  mode: "fit",
                  classes: "object-cover w-full h-full rounded-sm",
                  ratio: [960, 576],
                  pictureSets: [
                    { "default": [960, null] },
                  ],
                } only %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>

      {# Role #}
      {% if role %}
        <div class="w-full max-w-[752px]">
          <div>{{ role|nl2br }}</div>
        </div>
      {% endif %}

      {# Tags #}
      {% if tags %}
        <div class="w-full max-w-[752px]">
          {% include "_includes/tags" with { tags: tags } only %}
        </div>
      {% endif %}

      {# Meta #}
      {% include "_includes/workCardMeta" with {
        type: entry.workType,
        year: entry.year,
        agency: entry.agency,
      } %}

    </div> {# /.col-span-9 #}

  </article>


{% endif %}
