{% set work = craft.entries.section('work') %}
{% set workEntries = work.all() ?? [] %}
{% set navStyle = "icon" %} {# "icon" or "text" #}

{% if workEntries|length %}

  {% set workIDs = work.collect().pluck('id') %}

  <section
    x-cloak
    x-data="{
      showSlideover: false,
      selected: null,
      workIDs: {{ workIDs|json_encode|raw }},

      setSlideover: function (id) {
        this.selected = id;
        this.showSlideover = true;
        $dispatch('open-slideover', { id });
      },

      top: function () {
        this.$refs['panel-content'].scrollTo({ top: 0, behavior: 'instant' });
      },

      prev: function () {
        if (this.hasPrev()) {
          this.setSlideover(this.workIDs[this.index() - 1]);
          this.top();
        }
      },

      next: function () {
        if (this.hasNext()) {
          this.setSlideover(this.workIDs[this.index() + 1]);
          this.top();
        }
      },

      hasPrev: function () {
        return this.workIDs.indexOf(this.selected) > 0;
      },

      hasNext: function () {
        return this.workIDs.indexOf(this.selected) < this.workIDs.length - 1;
      },

      index: function () {
        return this.workIDs.indexOf(this.selected);
      },
    }"
  >
    <h2 class="sr-only">Recent work</h2>

    {# Work card grid #}
    <div class="grid grid-cols-12 gap-y-24 lg:gap-x-16">
      {% for entry in workEntries %}

        {% set image = entry.cardImage.one() ?? null %}
        {% set cls = "" %}

        {# Vertical stacking #}
        {% if ((loop.index0 % 6) + 1 == 2)
          or ((loop.index0 % 6) + 1 == 5)
          or ((loop.index0 % 6) + 1 == 6)
        %}
          {% set cls = "ml-auto lg:ml-0" %}
        {% endif %}

        {# Three to a row with blanks #}
        {% if ((loop.index0 % 10) + 1) == 3
          or ((loop.index0 % 12) + 1) == 9
        %}
          <div class="hidden xl:block xl:col-span-4">{# blank grid space #}</div>
        {% endif %}

        {# Three to a row with blanks #}
        {% if ((loop.index0 % 12) + 1) == 3
          or ((loop.index0 % 12) + 1) == 6
          or ((loop.index0 % 12) + 1) == 9
          or ((loop.index0 % 12) + 1) == 13
        %}
          <div class="hidden xl:block xl:col-span-4">{# blank grid space #}</div>
        {% endif %}

        <div class="relative col-span-full space-y-5 w-full max-w-[480px] lg:max-w-none lg:col-span-6 xl:col-span-4 {{ cls }}">
          <h2 class="heading3-mono">{{ entry.title }}</h2>

          {% if image %}
            <div class="aspect-[480/288] shadow-sm">
              {% include "_includes/picture" with {
                disableAlt: true,
                image: image,
                mode: "crop",
                classes: "object-cover w-full h-full rounded-sm",
                ratio: [480, 288],
                pictureSets: [
                  { "467": [560, null] },
                  { "default": [414, null] },
                ],
              } only %}
            </div>
          {% endif %}

          {% include "_includes/workCardMeta" with {
            type: entry.workType,
            year: entry.year,
            agency: entry.agency,
          } %}

          <a
            @click.prevent="setSlideover({{ entry.id }})"
            @keydown.space.prevent="setSlideover({{ entry.id }})"
            href="{{ url(entry.uri) }}"
            class="box-link before:focus-visible:outline before:focus-visible:outline-2 before:focus-visible:outline-offset-2 before:focus-visible:outline-blue-700"
            aria-label="{{ '{0} project details, opens modal'|t([entry.title]) }}"
          ></a>
        </div>

      {% endfor %}
    </div>

    {% set panelContent %}
      {% for entry in workEntries %}
        {% include "_includes/workArticle" with {
          entry: entry,
        } only %}
      {% endfor %}
    {% endset %}

    {% include "_includes/slideover" with {
      showCloseButton: true,
      showNav: true,
      navStyle: "icon",
      panelContent: panelContent,
    } only %}

  </section>

{% endif %}

