{% set entry = entry ?? null %}

{% if entry %}

  {% set cardImage = entry.cardImage.one() ?? null %}
  {% set liveUrl = entry.liveUrl ?? null %}
  {% set summary = entry.summary ?? null %}
  {% set video = entry.video.one() ?? null %}
  {% set backdropColour = entry.backdropColour.value|default("bg-slate-50") %}
  {% set role = entry.role ?? null %}
  {% set tags = entry.techTags.all() ?? [] %}

  {% set prevEntry = craft.entries.section('work').prevSiblingOf(entry).one() ?? null %}
  {% set nextEntry = craft.entries.section('work').nextSiblingOf(entry).one() ?? null %}

  <article
    x-show="selected === {{ entry.id }}"
    class="grid grid-cols-12 space-y-16 pt-[186px] pb-16 w-full max-w-[736px] ml-auto md:pb-[72px] lg:max-w-none lg:ml-0 lg:gap-x-16 2xl:pb-24"
  >
    <div class="pointer-events-auto space-y-16 col-span-full lg:col-span-9 lg:col-start-3">

      {# Head #}
      <div class="w-full max-w-[752px] -mb-5">
        <div class="flex flex-wrap items-baseline gap-4">
          {# Title #}
          <h2
            x-dialog:title
            class="font-medium heading3 md:heading1 leading-none"
            aria-label="{{ '{0} project details'|t([entry.title]) }}"
          >
            {{ entry.title }}
          </h2>

          {% if entry.liveUrl %}
            <span class="-translate-y-[2px]">
              {% include "_includes/liveLink" with { url: entry.liveUrl } only %}
            </span>
          {% endif %}
        </div>

      </div>

      {# Summary #}
      {% if summary %}
        <p class="w-full max-w-[752px]">
          {{ summary }}
        </p>
      {% endif %}

      {# Media #}

      <div
        x-data="{
          ...mediaControls(),
          ...{
            showVideo: false,
            videoLazyLoaded: false,

            handleOpenSlideover(event) {
              if (event.detail.id != {{ entry.id }}) return;
              if (this.$refs.video && !this.videoLazyLoaded) {
                this.$refs.video.querySelector('source').src = this.$refs.video.querySelector('source').dataset.src;
                this.$refs.video.load();
                this.initialiseMediaControls(this.$refs.video);
                this.videoLazyLoaded = true;
              }
            },
          },

          // TODO: Stop video when closing slideover
          // or navigating to another work entry
        }"
        @open-slideover.window="handleOpenSlideover($event)"
        class="w-full max-w-[1160px]"
      >
        <div class="aspect-[1160/680] {{ backdropColour }} flex items-center justify-center">
          <div class="relative aspect-[960/576] w-full sm:max-w-[clamp(414px,960px,83%)] group">
            {% if video %}
              <div class="absolute inset-0">

                {# == Video == #}
                <video
                  x-ref="video"
                  @click="play()"
                  muted
                  playsinline
                  class="object-cover w-full h-full rounded-sm"
                >
                  <source data-src="{{ video.url }}" type="{{ video.getMimeType() }}">
                  Your browser does not support the video tag.
                </video>

                {# == Controls == #}
                <div class="sr-only">Video controls</div>
                <div
                  x-ref="controls"
                  class="absolute inset-x-0 bottom-0 z-20 h-[72px] pl-2.5 pr-6 flex items-center opacity-0 group-hover:opacity-100 duration-200 focus-within:opacity-100 peer"
                  :class="{ 'opacity-100': paused }"
                >

                  {# == Play/pause == #}
                  <button
                    @click="play(); showVideo = true"
                    class="size-[44px] flex items-center justify-center"
                    :aria-label="paused ? 'Play' : 'Pause'"
                  >
                    <span x-show="paused || stopped">
                      {{ svg('@webroot/dist/images/icon--play.svg', true, true)|attr({ class: 'w-auto h-[15px] text-slate-50' }) }}
                    </span>
                    <span x-show="!paused && !stopped">
                      {{ svg('@webroot/dist/images/icon--paused.svg', true, true)|attr({ class: 'w-auto h-[12px] text-slate-50' }) }}
                    </span>
                  </button>

                  {# == Progress == #}
                  <button
                    x-data="{
											hover: false,
											seek: 0,
										}"
										x-init="() => {
											$watch('$store.global.mouseCoords', (state) => {
												if(hover) {
													let x = $store.global.mouseCoords[0] - $el.getBoundingClientRect().left
													let w = $el.getBoundingClientRect().width
													seek = x / w
												}
											})
											$watch('hover', (state) => {
												if(!state) seek = 0
											})
										}"
										@mouseenter="hover = true"
										@mouseleave="hover = false"
                    @keydown.left.prevent="media.currentTime -= 5"
                    @keydown.right.prevent="media.currentTime += 5"
										@click="media.currentTime = duration * seek"
                    data-keydown-priority="ArrowLeft,ArrowRight"
                    class="flex-grow h-full ml-2.5 cursor-pointer"
                    aria-label="Seek"
                  >
                    <span class="relative w-full h-full flex items-center">

                      {# Track #}
                      <span class="absolute inset-x-0 top-1/2 -translate-y-1/2 h-1 bg-neutral-900"></span>

                      {# Progress #}
                      <span
                        :style="`transform:scaleX(${currentTime / duration})`"
                        class="absolute inset-x-0 top-1/2 -mt-0.5 h-1 origin-left bg-coral-red"
                      ></span>

                      {# Seek visual #}
                      <span
                        x-ref="seekVisual"
                        :style="`transform:scaleX(${seek})`"
                        class="absolute inset-x-0 top-1/2 -mt-0.5 h-1 origin-left bg-slate-50/25 mix-blend-lighten"
                      ></span>

                    </span>
                  </button>

                  {# == Time == #}
                  <div class="ml-6 flex items-center gap-x-1">
                    <span class="sm-mono text-slate-100/85 leading-none" x-text="formatTime(currentTime)">0:00</span>
                    <span aria-hidden class="sm-mono text-slate-100/85 leading-none">/</span>
                    <span class="sm-mono text-slate-100/85 leading-none" x-text="formatTime(duration)">1:23</span>
                  </div>
                </div>

                {# == Underlay/background blur == #}
                <div
                  class="pointer-events-none absolute inset-x-0 bottom-0 z-10 h-[72px] bg-zinc-900/90 backdrop-blur-sm opacity-0 translate-y-4 group-hover:opacity-100 group-hover:translate-y-0 duration-200 peer-focus-within:!opacity-100 peer-focus-within:!translate-y-0"
                  :class="{ '!opacity-100 !translate-y-0': paused }"
                ></div>
              </div>

              {# == Poster == #}
              {% if cardImage %}
                <button
                  @click="() => {
                    showVideo = true;
                    play();
                    $focus.within($refs.controls).first();
                  }"
                  x-show="!showVideo"
                  x-transition.opacity.duration.500ms
                  class="absolute inset-0 cursor-pointer"
                  aria-label="Play video"
                >
                  {% include "_includes/picture" with {
                    image: cardImage,
                    mode: "fit",
                    classes: "object-cover w-full h-full rounded-sm",
                    alt: entry.title ~ " video poster image",
                    ratio: [960, 576],
                    pictureSets: [
                      { "default": [960, null] },
                    ],
                  } only %}
                  <span class="transition duration-200 ease-in-out opacity-0 group-hover:opacity-100">
                  <span style="background: radial-gradient(rgba(255,255,255,1.0), rgba(255,255,255,0));" class="absolute inset-0 opacity-5"></span>
                  <span class="size-20 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex items-centre justify-center bg-zinc-900/90 rounded-full transition group-hover:scale-105 duration-300 ease-in-out"></span>
                  {{ svg('@webroot/dist/images/icon--play.svg', true, true)|attr({ class: 'absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-5 text-white ml-[3px]' }) }}
                  </span>
                </button>
              {% endif %}

            {% else %} {# if video #}

              {# == Image == #}
              {% if cardImage %}
                {% include "_includes/picture" with {
                  image: cardImage,
                  mode: "fit",
                  classes: "object-cover w-full h-full rounded-sm",
                  alt: entry.title ~ " image",
                  ratio: [960, 576],
                  pictureSets: [
                    { "default": [960, null] },
                  ],
                } only %}
              {% endif %}

            {% endif %} {# /if video #}

          </div>
        </div>
      </div>

      {# Role #}
      {% if role %}
        <div class="w-full max-w-[752px]">
          <div>{{ role|nl2br }}</div>
        </div>
      {% endif %}

      {# Tags #}
      {% if tags %}
        <div class="w-full max-w-[752px]">
          {% include "_includes/tags" with { tags: tags } only %}
        </div>
      {% endif %}

      {# Meta #}
      {% include "_includes/workCardMeta" with {
        type: entry.workType,
        year: entry.year,
        agency: entry.agency,
      } %}

    </div> {# /.col-span-9 #}

  </article>


{% endif %}
